* {
  box-sizing: border-box;
}
#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.grid-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.grid {
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  width: 90vw;
  height: 90vh;
}

td {
  border: 1px solid #d3d3d3;
  position: relative;
}

.emptyCorner {
  border: none;
  width: 50px;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  outline: 1px solid #d3d3d3;
}
.sticky-col {
  border: 1px solid #d3d3d3;
  width: 50px;
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 2;
  outline: 1px solid #d3d3d3;
}

.header {
  position: sticky;
  top: 0;
  outline: 1px solid #d3d3d3;
  background-color: white;
}

.resizer {
  cursor: ew-resize;
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.cell {
  width: 100%;
  height: 100%;
}

.cellInput {
  width: 100%;
  height: 90%;
  outline: none;
  border: 0;
}
.headerCell {
  height: 100%;
  position: relative;
}

.selectedCell {
  background: #9fd3ff;
  border-color: #007bff;
  border: 1px solid #007bff;
}

td:hover {
  background: #e0f2ff;
  cursor: pointer;
}

.cornorSelect {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: crosshair;
  /* background-color: red; */
  right: 0;
  bottom: 0;
  z-index: 4;
}
